@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply bg-white dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-50 dark:bg-gray-800;
  }

  .bg-tertiary {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .border-primary {
    @apply border-gray-200 dark:border-gray-690/90;
  }

  .border-secondary {
    @apply border-gray-300 dark:border-gray-690/90;
  }

  .text-primary {
    @apply text-gray-900 dark:text-gray-50;
  }

  .text-secondary {
    @apply text-gray-800 dark:text-gray-100;
  }

  .text-tertiary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-primary-reverse {
    @apply text-gray-50 dark:text-gray-900;
  }

  .text-secondary-reverse {
    @apply text-gray-100 dark:text-gray-700;
  }

  .text-accent-primary {
    @apply text-accent-600 dark:text-accent-500;
  }

  .text-accent-secondary {
    @apply text-accent-900 dark:text-accent-300;
  }

  .placeholder-tertiary {
    @apply placeholder:font-medium placeholder:text-gray-600 dark:placeholder:text-gray-200;
  }

  .min-h-screen_ {
    min-height: calc(100vh - theme("spacing.16"));
  }

  .h-screen_ {
    height: calc(100vh - theme("spacing.16"));
  }

  .masonry {
    @apply h-full w-full;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: theme("spacing.4");

    >* {
      break-inside: avoid;
    }

    @screen md {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    @screen lg {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }

  .masonry-2 {
    @apply h-full w-full;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

* {
  -webkit-tap-highlight-color: transparent;

  @apply appearance-none scroll-smooth transition-all duration-300 font-main antialiased outline-none selection:bg-accent-300/90 selection:text-black/90 scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-700;
}

::-webkit-scrollbar {
  position: absolute
}

[data-bright-theme="github-dark"] {
  @apply !rounded-xl !bg-gray-800 !px-0 !py-1;
}

pre {
  @apply !rounded-2xl !bg-gray-800 !p-0;
}
