@import "tailwindcss";
@source "../node_modules/@trash-ui/components";

@config '../tailwind.config.ts';

@theme {
  --color-accent-50: oklch(0.969 0.015 12.422);
  --color-accent-100: oklch(0.941 0.03 12.58);
  --color-accent-200: oklch(0.892 0.058 10.001);
  --color-accent-300: oklch(0.81 0.117 11.638);
  --color-accent-400: oklch(0.712 0.194 13.428);
  --color-accent-500: oklch(0.645 0.246 16.439);
  --color-accent-600: oklch(0.586 0.253 17.585);
  --color-accent-700: oklch(0.514 0.222 16.935);
  --color-accent-800: oklch(0.455 0.188 13.697);
  --color-accent-900: oklch(0.41 0.159 10.272);
  --color-accent-950: oklch(0.271 0.105 12.094);

  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);

  --color-gray-680: oklch(22.63% 0.0215 297.16);
  --color-gray-690: oklch(20.68% 0.0179 294.98);
  --color-gray-700: oklch(18.22% 0.0143 291.46);
  --color-gray-800: oklch(17.25% 0.0124 292.69);
  --color-gray-900: oklch(14.8% 0.0087 296.76);

  /* Trash UI */

  --color-surface-primary: var(--surface-primary);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-tertiary: var(--surface-tertiary);

  --color-surface-primary-accent: var(--color-accent-700);
  --color-surface-secondary-accent: var(--color-accent-600);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-primary-accent: var(--primary-accent);
  --color-secondary-accent: var(--secondary-accent);

  --color-outline: var(--outline);
  --color-outline-hover: var(--outline-hover);

  --color-outline-accent: var(--outline-accent);
  --color-outline-accent-hover: var(--outline-accent-hover);
}

:root {
  /* Trash UI */

  --surface-primary: var(--color-white);
  --surface-secondary: var(--color-gray-50);
  --surface-tertiary: var(--color-gray-100);

  --primary: var(--color-gray-900);
  --secondary: var(--color-gray-800);
  --tertiary: var(--color-gray-600);

  --primary-accent: var(--color-accent-600);
  --secondary-accent: var(--color-accent-900);

  --outline: var(--color-gray-300);
  --outline-hover: var(--color-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Trash UI */

    --surface-primary: var(--color-gray-900);
    --surface-secondary: var(--color-gray-800);
    --surface-tertiary: var(--color-gray-700);

    --primary: var(--color-gray-50);
    --secondary: var(--color-gray-100);
    --tertiary: var(--color-gray-300);

    --primary-accent: var(--color-accent-500);
    --secondary-accent: var(--color-accent-300);

    --outline: var(--color-gray-690);
    --outline-hover: var(--color-gray-680);

    --outline-accent: var(--color-accent-500);
    --outline-accent-hover: var(--color-accent-400);
  }

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
  }
}

body {
  @apply bg-surface-primary text-primary;
}

* {
  -webkit-tap-highlight-color: transparent;

  font-family: var(--font-main), sans-serif;

  @apply appearance-none scroll-smooth antialiased outline-hidden selection:bg-accent-300/90 selection:text-black/90;
}

.min-h-screen_ {
  min-height: calc(100vh - 4rem);
}

.h-screen_ {
  height: calc(100vh - 4rem);
}

html {
  padding: 0 !important;
  overflow-y: scroll !important;
}

*::-webkit-scrollbar {
  @apply w-2 bg-surface-secondary rounded-full;
}

*::-webkit-scrollbar-thumb {
  @apply bg-outline rounded-full m-1;
}

pre {
  counter-reset: step;
  counter-increment: step 0;
}

pre .line::before {
  content: counter(step);
  counter-increment: step;

  width: 1rem;
  margin-right: 1rem;

  display: inline-block;

  text-align: right;

  @apply text-gray-500;
}
